<template>
  <div class="home-page">
    <h1>Input:</h1>
    <VColorPicker v-model="backgroundColor" />

    <h1>Output:</h1>
    <div
      :style="`background-color: ${backgroundColor}; color: ${textColor}`"
      class="home-page__output"
    >
      {{ backgroundColor }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// Components
import VColorPicker from "@/components/VColorPicker.vue";

@Component({ components: { VColorPicker } })
export default class HomePage extends Vue {
  backgroundColor = "";

  /**
   * вычисляет цвет для текста на основе фона (черный или белый)
   */
  public get textColor() {
    const black = "#000000";
    const white = "#ffffff";

    const rgb = this.backgroundColor
      .match(/[a-fA-F0-9]{1,2}/g)
      ?.map((value) => parseInt(value, 16));

    if (rgb?.length !== 3) return black;

    const backgroundBrightness = this.getColorBrightness(rgb);

    const contrastWithBlack = this.getContrastRatio(backgroundBrightness, 0);
    const contrastWithWhite = this.getContrastRatio(1, backgroundBrightness);

    return contrastWithBlack > contrastWithWhite ? black : white;
  }

  /**
   * вычисляет яркость для цвета
   * Подробнее смотри: https://www.w3.org/TR/WCAG20/#relativeluminancedef
   */
  getColorBrightness([r, g, b]: number[]) {
    const normalizeColor = (shade: number) => {
      shade /= 255;
      return shade < 0.03928 ? shade / 12.92 : ((shade + 0.055) / 1.055) ** 2.4;
    };

    [r, g, b] = [r, g, b].map(normalizeColor);

    return 0.21 * r + 0.72 * g + 0.07 * b;
  }

  /**
   * вычисляет контраст из двух якростей цветов
   * Подробнее смотри: https://www.w3.org/TR/WCAG20/#contrast-ratiodef
   */
  getContrastRatio(lighterBrightness: number, darkerBrightness: number) {
    return (lighterBrightness + 0.05) / (darkerBrightness + 0.05);
  }
}
</script>

<style lang="scss">
.home-page {
  padding: 3rem;

  &__output {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7rem;
    height: 2rem;
  }
}
</style>
