<template>
  <label :for="`${_uid}-input`" class="v-color-picker">
    <span
      :style="`background-color: ${color}`"
      class="v-color-picker__preview"
    ></span>

    <input
      v-model="color"
      v-mask="'#CCCCCC'"
      class="v-color-picker__input"
      @change="fixColorValue"
    />

    <span class="v-color-picker__arrow"></span>

    <input
      :id="`${_uid}-input`"
      v-model="color"
      class="v-color-picker__palette"
      type="color"
    />
  </label>
</template>

<script lang="ts">
import { Component, VModel, Vue } from "vue-property-decorator";

const DEFAULT_COLOR = "#000000";

@Component
export default class VColorPicker extends Vue {
  @VModel({ type: String, default: DEFAULT_COLOR })
  public color!: string;

  isValidColorString(str: string) {
    return /^#\d{6}$/.test(str);
  }

  fixColorValue() {
    if (!this.isValidColorString(this.color)) {
      this.color = DEFAULT_COLOR;
    }
  }

  public mounted() {
    this.fixColorValue();
  }
}
</script>

<style lang="scss">
.v-color-picker {
  $this: &;

  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  height: 2rem;
  width: 13rem;
  padding: 0.4rem;

  font-size: 0.875rem;

  border: 1px solid lightgray;
  border-radius: 0.5rem;

  &:focus-within #{$this}__arrow {
    transform: rotate(-135deg);
  }

  &__preview {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  &__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.4rem;
    margin: auto 0;

    display: block;
    height: 0.8rem;
    width: 0.8rem;

    border-right: 3px solid gray;
    border-bottom: 3px solid gray;

    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
  }

  &__input {
    border: none;
    outline: none;
    width: 8ch;

    &:focus ~ #{$this}__arrow {
      transform: rotate(45deg);
    }
  }

  &__palette {
    position: absolute;
    left: 0;
    bottom: -1rem;
    opacity: 0;
  }
}
</style>
