<template>
  <div id="app" class="app">
    <RouterView />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

// Styles
import "./scss/style.scss";

@Component
export default class App extends Vue {}
</script>

<style>
.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
</style>
